In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import matplotlib.pyplot as plt

In [26]:
features = pd.read_csv('../../data/222k_dinov2_features.csv')

In [ ]:
map = {"Unnamed: 0" : "species", "Unnamed: 1" : "filename"}
features = features.rename(columns=map)
features['filename'] = features['filename'].str.replace('.txt', '.png', regex=False)
features

,species,filename,0,1,2,3,4,5,6,7,...,374,375,376,377,378,379,380,381,382,383
0,Metazoa,20230928_035045.356.0.png,-2.685679,1.240130,-0.813783,2.172574,-2.519675,-0.615273,-2.129058,-1.675049,...,2.132541,-1.054823,3.495323,-3.367739,1.672891,-0.497984,0.173394,-5.141430,-5.778940,3.009820
1,Metazoa,20231003_002219.353.0.png,-1.888089,1.125750,-1.088626,1.431697,-2.197919,-2.383027,-0.820481,0.595581,...,-0.798405,-0.406981,-0.682489,-1.201016,4.186016,0.470464,1.512966,-4.546956,0.035239,0.052134
2,Metazoa,20230930_163933.623.0.png,-1.254597,0.709831,-0.865399,0.659598,-0.812215,-0.941918,-1.896184,-3.121367,...,1.127044,0.219477,3.106153,-1.565939,1.180559,-0.102245,0.115815,-4.223535,-3.673303,1.711717
3,Metazoa,20230927_062802.266.0.png,-0.523338,2.292909,-0.808224,-0.300508,0.611090,-3.060035,-3.849411,0.247845,...,-1.914554,0.971206,-0.386829,-1.145348,3.382193,-0.592321,1.603056,-3.033088,0.469363,-1.232678
4,Metazoa,20230930_084236.390.1.png,0.487946,1.980415,-1.994756,1.760478,-1.383359,-2.016696,-2.360284,0.145205,...,-0.883256,0.572685,-0.828303,-2.583703,3.000371,-0.726576,-0.746731,-4.458533,0.350088,0.437200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221978,Noctiluca,20230927_215600.334.0.png,-4.240958,1.276973,-0.659327,1.103093,0.089172,0.007789,-1.456168,0.207392,...,-0.062313,0.964028,0.277903,1.092856,0.757039,-1.244890,0.975980,-4.376367,-1.579154,2.650850
221979,Noctiluca,20230926_192131.225.0.png,-1.450486,1.609956,-1.369050,1.465698,-2.375790,-0.741711,-3.181089,-0.206866,...,2.220334,1.263546,2.449620,-0.873765,2.062969,-0.720305,0.319992,-5.917530,-3.035711,2.620257
221980,Noctiluca,20230930_100034.003.0.png,-2.165811,1.929972,-2.084237,-0.466157,-0.247488,0.439697,-3.180066,0.412056,...,-0.063304,0.772491,-0.553859,-1.058867,2.403622,-0.780793,-0.595539,-4.362561,-3.017054,0.862642
221981,Noctiluca,20230928_154748.204.0.png,-1.173722,2.255093,-1.471429,2.155903,-0.947086,-0.613082,-4.583172,-1.458021,...,1.779065,-0.734332,0.277456,0.486464,2.208238,-1.672477,-0.749020,-4.586926,-4.120123,2.024204
221982,Noctiluca,20231003_072109.561.0.png,-1.296830,0.379450,-1.127256,1.759605,-0.944480,-0.003812,-4.241201,-0.559865,...,0.559932,-0.581709,0.406873,-0.943170,2.866668,-0.473780,0.741614,-4.736533,-4.883803,2.719479

In [28]:
tsv_file = "../../data/ecotaxa_export_10210_20241126_0935.tsv"
tsv_df = pd.read_csv(tsv_file, sep='\t')
tsv_df

/var/folders/dn/_b68jxwj3hsdgc2lt_2sllc80000gn/T/ipykernel_97170/279051301.py:2: DtypeWarning: Columns (1,3,4,7,8,9,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,36,41,42,43,44,45,46,47,49,51,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  tsv_df = pd.read_csv(tsv_file, sep='\t')

,img_file_name,img_rank,object_id,object_lat,object_lon,object_date,object_time,object_link,object_depth_min,object_depth_max,...,classif_id,classif_who,classif_auto_id,classif_auto_name,classif_auto_score,classif_auto_when,object_random_value,object_sunpos,sample_lat,sample_long
0,[t],[t],[t],[f],[f],[t],[t],[t],[f],[f],...,[t],[t],[t],[t],[f],[t],[t],[t],[f],[f]
1,export_10210_20241126_0935/20231004_144256.159...,0,20231004_144256.159.1,59.663219,10.624765,2023-10-04,14:42:56,NaN,1.0,1.0,...,84963,1465,92767,not-living,0.9715366289159092,2023-11-01 08:40:47.449289,694116777,D,59.663219,10.624765
2,export_10210_20241126_0935/20231004_025551.675...,0,20231004_025551.675.0,59.663219,10.624765,2023-10-04,02:55:51,NaN,1.0,1.0,...,85055,1465,2250,detritus,0.27481819337548635,2023-11-02 10:36:05.511373,258814698,N,59.663219,10.624765
3,export_10210_20241126_0935/20231004_092651.526...,0,20231004_092651.526.0,59.663219,10.624765,2023-10-04,09:26:51,NaN,1.0,1.0,...,85016,1465,85016,temporary,0.39773392736713686,2024-03-14 14:31:43.785074,1536922320,D,59.663219,10.624765
4,export_10210_20241126_0935/20231004_092434.327...,0,20231004_092434.327.0,59.663219,10.624765,2023-10-04,09:24:34,NaN,1.0,1.0,...,11816,1465,11816,Ochrophyta,0.6257675091163462,2023-11-01 13:55:11.521568,-829735984,D,59.663219,10.624765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221979,export_10210_20241126_0935/20230926_123153.599...,0,20230926_123153.599.0,59.663219,10.624765,2023-09-26,12:31:53,NaN,1.0,1.0,...,85137,1465,85137,temporary,0.864304,2024-01-12 10:19:08.335742,294337577,D,59.663219,10.624765
221980,export_10210_20241126_0935/20230926_141334.397...,0,20230926_141334.397.1,59.663219,10.624765,2023-09-26,14:13:34,NaN,1.0,1.0,...,85055,1465,85055,detritus,0.432998,2024-03-14 14:32:03.512971,1001839133,D,59.663219,10.624765
221981,export_10210_20241126_0935/20230926_213859.830...,0,20230926_213859.830.0,59.663219,10.624765,2023-09-26,21:38:59,NaN,1.0,1.0,...,85136,1465,85136,temporary,0.629587,2024-03-13 12:13:32.803649,2113716523,N,59.663219,10.624765
221982,export_10210_20241126_0935/20230926_113121.591...,0,20230926_113121.591.0,59.663219,10.624765,2023-09-26,11:31:21,NaN,1.0,1.0,...,85055,1465,85055,detritus,0.906658,2024-03-14 14:32:03.512971,532537223,D,59.663219,10.624765
221983,export_10210_20241126_0935/20230926_194757.835...,0,20230926_194757.835.0,59.663219,10.624765,2023-09-26,19:47:57,NaN,1.0,1.0,...,85016,1465,85016,temporary,0.253655,2024-04-30 14:54:48.315165,-724451827,N,59.663219,10.624765

In [29]:
desired_col = "object_annotation_category"


def add_annotation_category(tsv_df, dataframe, filename_column='filename', img_file_name_column='img_file_name', annotation_column='object_annotation_category'):
    """
    Matches the `img_file_name` in the TSV file with the `filename` column in the DataFrame
    and adds the `object_annotation_category` to the DataFrame.

    Parameters:
    tsv_file (str): Path to the TSV file.
    dataframe (pd.DataFrame): The DataFrame with a `filename` column.
    filename_column (str): The column name in the DataFrame to match with `img_file_name` in TSV.
    img_file_name_column (str): The column name in the TSV for matching.
    annotation_column (str): The column name in the TSV for the annotation category.

    Returns:
    pd.DataFrame: The updated DataFrame with an added `object_annotation_category` column.
    """
    # Merge the DataFrame with the TSV data on the corresponding filename columns
    tsv_df[img_file_name_column] = tsv_df[img_file_name_column].apply(os.path.basename)
    merged_df = dataframe.merge(
        tsv_df[[img_file_name_column, annotation_column]],
        how = 'left',
        left_on = filename_column,
        right_on = img_file_name_column
    )
    
    # Drop the redundant column added by the merge (if necessary)
    merged_df.drop(columns=[img_file_name_column], inplace=True)
    
    return merged_df

In [34]:
new_features = add_annotation_category(tsv_df, features)
new_features.pop('species')

last_column = new_features.columns[-1]

# Rearrange the columns: bring the last column to the front
df = new_features[[last_column] + [col for col in new_features.columns if col != last_column]]

In [38]:
df.to_csv('../../data/222k_all_dino2_features.csv')